{{define "editor_page_start.gohtml"}}
{{template "settings_ctx.gohtml" .}}
{{template "work_start.gohtml" .}}
<nav class="nav nav-bordered dc-work-tabs" aria-label="Sections" data-editor-sections>
  <a class="nav-link{{if eq .Section "search"}} active{{end}}" href="/settings/editor/search"><i class="ti ti-search me-1 dc-hide-xs"></i>Search</a>
  <a class="nav-link{{if eq .Section "files"}} active{{end}}" href="/settings/editor/files"><i class="ti ti-files me-1 dc-hide-xs"></i>Files</a>
  <a class="nav-link{{if eq .Section "git"}} active{{end}}" href="/settings/editor/git"><i class="ti ti-brand-git me-1 dc-hide-xs"></i>Git</a>
  <a class="nav-link{{if eq .Section "lsp"}} active{{end}}" href="/settings/editor/lsp"><i class="ti ti-zoom-code me-1 dc-hide-xs"></i>LSP</a>
</nav>
{{template "work_body.gohtml" .}}
<div class="dc-narrow">
{{end}}

{{define "editor_page_end.gohtml"}}
</div>
{{end}}
