{{define "editor_page_start.gohtml"}}
<div class="page-header d-print-none mb-3">
  <div class="d-flex align-items-center gap-2">
    <div class="flex-fill min-w-0">
      <h2 class="page-title text-truncate mb-0">Settings</h2>
    </div>
  </div>
</div>

<div class="card">
  <div class="row g-0">
    <div class="col-12 col-md-3 border-end">
      <div class="card-body">
        {{template "settings_nav" .SettingsNav}}
      </div>
    </div>
    <div class="col-12 col-md-9">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" data-editor-sections>
          <li class="nav-item">
            <a class="nav-link{{if eq .Section "search"}} active{{end}}" href="/settings/editor/search"><i class="ti ti-search me-1 d-none d-sm-inline-block"></i>Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{{if eq .Section "files"}} active{{end}}" href="/settings/editor/files"><i class="ti ti-files me-1 d-none d-sm-inline-block"></i>Files</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{{if eq .Section "git"}} active{{end}}" href="/settings/editor/git"><i class="ti ti-brand-git me-1 d-none d-sm-inline-block"></i>Git</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{{if eq .Section "lsp"}} active{{end}}" href="/settings/editor/lsp"><i class="ti ti-zoom-code me-1 d-none d-sm-inline-block"></i>LSP</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
{{end}}

{{define "editor_page_end.gohtml"}}
      </div>
    </div>
  </div>
</div>
{{end}}
