Assistant {{.Name}} is deleted with its thread, its jobs and its triggers.{{if .Released}} The coders it steered went back to the user: {{range $i, $n := .Released}}{{if $i}}, {{end}}{{$n}}{{end}}.{{end}}
